#chat-screen {
  background-color: #abc1d1;
  height: 10000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

/* alt-screen-header.css 에서 개인적으로 처리함
#chat-screen .alt-header {
  top: 10px;
}
*/
