.status-bar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  background-color: white;
}

/* 아래는 시계를 가운데로 맞추기 위함 시작 */
.status-bar__column {
  width: 33%;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* 위는 시계를 가운데로 맞추기 위함 끝 */

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
